/*Estilo posición del salir*/
.der{
margin-top: -106px;
margin-right: 0px;
margin-bottom: 20px;
margin-left: 70em;
position: absolute;
}

/*Diseño del div donde va la información*/
#dis{
	background: white;
    width: 615px;
    height: 377px;
    border: 8px double #000080;
}
/*Diseño del fondo de la página*/
body{background-color:  #33CCCC}

/*Diseño del menú*/
#menu {
	font-family: Arial;
	font-size: 0.8em;
}

#menu li {
	float: left;
	list-style-type: none;
}

#menu ul {
	margin: 0;
	padding: 0;
}

#menu a {
	display: inline;
	text-decoration: none;
	color: #F30B39;
	background: #f0edff;
	padding: 3px 10px 3px 10px;
	text-align: center;
	border: 1px solid #0DF8B6;
	border-width: 1px 1px 1px 0;
}

#menu a#primero {
	border: 1px solid #6643ff;
	background-color: black;
}

#menu a:hover {
	background: #d6ccff;
}

/*estilos del pie de página*/
div.nbt{
	margin: 10px 350px 20px 0;
	text-align: center;

}

span.nft{
	display: inline-block;
	font-weight: bold;
	height: 24px;
	padding: 2px 5px;
}

span.nfb{
	display: inline-block;
	font-weight: bold;
	width: 27px;
	height: 53px;
	text-align: center;
	cursor: default;
	padding-top: 4px;
}


.z{
	margin: 20px;
}
/*Posicion de la imagen de salida*/
#salir{
margin: -5px;
position: absolute;
padding-left: 11px;
}