/*Diseño del salir*/
.der{
margin-top: -106px;
margin-right: 0px;
margin-bottom: 20px;
margin-left: 70em;
position: absolute;
}

/*Diseño del fondo de la pagina web*/
body{background-color:  #33CCCC}

/*Diseño del div o donde va la info*/
#dis{
	background: white;
    width: 615px;
    height: 377px;
}
/*Diseño del Menú*/
#menu {
	font-family: Arial;
	font-size: 0.8em;
}

#menu li {
	float: left;
	list-style-type: none;
}

#menu ul {
	margin: 0;
	padding: 0;
}

#menu a {
	display: inline;
	text-decoration: none;
	color: #6643ff;
	background: #f0edff;
	padding: 3px 10px 3px 10px;
	text-align: center;
	border: 1px solid #6643ff;
	border-width: 1px 1px 1px 0;
}

#menu a#primero {
	border: 1px solid #6643ff;
	background-color: black;
}

#menu a:hover {
	background: #d6ccff;
}

/* estilos del menu de las páginas o páginas mostradas*/
.b{ font-weight: bold;}

.la a:visited{
	color: #002880;
    text-decoration: underline;
}
/*estilo en la lista*/
#prim{
	color: red;
}