.der{
margin-top: -106px;
margin-right: 0px;
margin-bottom: 20px;
margin-left: 70em;
position: absolute;
}

#dis{
	background: white;
    width: 615px;
    height: 377px;
}
body{background-color:  #33CCCC}
<!--
#menu {
	font-family: Arial;
	font-size: 0.8em;
}

#menu li {
	/* Indicamos que la posición de 'li' sea adjunte siempre a la izquierda */
	float: left;
	/* Eliminamos las marcas que genera el li como pueden ser las redonadas o recuadros */
	list-style-type: none;
}

/* Por defecto ul genera una separación hacia la derecha. con margin:0 queda anulada */
#menu ul {
	margin: 0;
	padding: 0;
}

#menu a {
	display: inline;
	text-decoration: none;
	color: #6643ff;
	background: #f0edff;
	padding: 3px 10px 3px 10px;
	text-align: center;
	border: 1px solid #6643ff;
	/* Pintamos las lineas de todos los lados, excepto el izquierdo */
	border-width: 1px 1px 1px 0;
}

/* El primer recuadro, no tiene la linea izquierda. Aqui se la colocamos */
#menu a#primero {
	border: 1px solid #6643ff;
	background-color: black;
}

#menu a:hover {
	background: #d6ccff;
}