/*Imegen del Login*/
body{ background-image: url("../Imagenes/fondo.jpg");}

/*posición del Login*/
#bord{
  margin-top: 150px; 
  padding: 35px 35px 20px;
  width: 400px;
}

/*Fondo de la franja*/
.fond{
	background: transparent;
}
/*Posición de la franja*/
.franja{
background: rgba(0, 0, 0, 0.39);
width: 475px;
height: 850px;
position: absolute;
margin-top: -178px;
margin-left: 32%;
}
/*Posición y estilos del login*/
.formulario{
position: absolute;
margin-left: 32%;
}

.caja-texto{
height: 28px;
background: transparent;
width: 200px;
font-size: 16px;
color: #fff;
border: 2px solid #5C5E5C;
}

.titulo-caja{
	font-size: 19px;
    color: #FFF;
    font-weight: bold;
}

/*Estilo al Boton*/
button{
       font-size: 15px;
       font-family: cursive;
       font-weight: bold;
       color: #fff;
       background: rgba(144, 153, 147, 1);
       border: 0px;
       width: 129px;
       height: 45px;

    }


/*espacio del administrador*/
#adm{
  position: absolute;
  margin-left: 722px;
  padding: 29px;
}

