/*Diseño del fondo de la página*/

body {
    background-image: url("../Imagenes/fondo.jpg");
}
/*color de la letra del usuario*/

.cl {
    color: white;
}
/*Posicion del menu*/

.posi {
    margin-left: 820px;
}
