/*Diseño del salir*/
.der{
margin-right: 0px;
margin-bottom: 20px;
margin-left: 63em;
position: absolute;
z-index: 2;
}

/*Diseño del fondo de la pagina web*/
body{background-image: url("../Imagenes/fondo.jpg");}

/*Diseño del div o donde va la info*/
#dis{
  background: white;
  width: 777px;
  height: 425px;
  border: 8px double #090808;
  margin-left: 252px;
  position: absolute;
  z-index: 2;
}
/*Diseño del Menú*/
#menu {
	font-family: Arial;
	font-size: 19px;
	position: absolute;
    z-index: 3;
}

#menu li {
	float: left;
	list-style-type: none;
}

#menu ul {
	margin: 0;
	padding: 0;
}

#menu a {
display: inline;
text-decoration: none;
color: #0A0A0A;
background: #A0F1F8;
padding: 3px 10px 3px 10px;
text-align: center;
border: 1px solid #070707;
border-width: 1px 1px 1px 1px;
}

#menu a#primero {
border: 1px solid #0F0F0F;
background-color: rgb(6, 198, 247);
}

#menu a:hover {
	background: #d6ccff;
}

/*Fondo de la franja*/
.fond{
	background: transparent;
}
/*Posición de la franja*/
.franja{
background: rgba(26, 253, 6, 0.4);
width: 1139px;
height: 901px;
position: absolute;
margin-top: -178px;
margin-left: 6%;
}

/*direcion del menu*/
.mn{
	margin-left: 251px;
}
/*posicion de la imagen de egregar*/
#agr{
	margin-left: 556px;
    position: absolute;
    padding-left: 5px;
    margin-top: -49px;
}