/*Diseño del salir*/
.der{
margin-right: 0px;
margin-bottom: 20px;
margin-left: 63em;
position: absolute;
z-index: 2;
}

/*Diseño del fondo de la pagina web*/
body{background-image: url("../Imagenes/fondo.jpg");}

/*Diseño del div o donde va la info*/
#dis{
	background: white;
    width: 615px;
    height: 377px;
    border: 8px double #000080;
    margin-left: 360px;
    position: absolute;
    z-index: 2;
}
/*Diseño del Menú*/
#menu {
	font-family: Arial;
	font-size: 19px;
	position: absolute;
    z-index: 3;
}

#menu li {
	float: left;
	list-style-type: none;
}

#menu ul {
	margin: 0;
	padding: 0;
}

#menu a {
	display: inline;
	text-decoration: none;
	color: #F30B39;
	background: #f0edff;
	padding: 3px 10px 3px 10px;
	text-align: center;
	border: 1px solid #0DF8B6;
	border-width: 1px 1px 1px 0;
}

#menu a#primero {
	border: 1px solid #6643ff;
	background-color: black;
}

#menu a:hover {
	background: #d6ccff;
}


/*estilos del pie de página*/
div.nbt{
	margin-left: 339px;
	text-align: center;
    position: relative;
    z-index: 4;
    margin-top: 400px;

}

span.nft{
	display: inline-block;
	font-weight: bold;
	height: 24px;
	padding: 2px 5px;
}

span.nfb{
	display: inline-block;
	font-weight: bold;
	width: 27px;
	height: 53px;
	text-align: center;
	cursor: default;
	padding-top: 4px;
}

/*Posicion de la imagen de salida*/
#salir{
margin: -5px;
position: absolute;
padding-left: 11px;
}

/*posicion de la imagen de egregar*/
#agr{
	margin-left: 556px;
    position: absolute;
    padding-left: 5px;
    margin-top: -49px;
}

/*Fondo de la franja*/
.fond{
	background: transparent;
}
/*Posición de la franja*/
.franja{
background: #fff;
width: 1139px;
height: 901px;
position: absolute;
margin-top: -178px;
margin-left: 6%;
}

/*posicion de la imagen de perfil*/
.im{
	margin-left: 132px;
	position: absolute;
    z-index: 2;	
}

/*Posicion del Dashboard*/
.con{
	margin-left: 258px;
	
}
/*direcion del menu*/
.mn{
	margin-left: 360px;
}