/*estilo del salir*/
.der{
margin-top: -106px;
margin-right: 0px;
margin-bottom: 20px;
margin-left: 70em;
position: absolute;
}
/*estilo del fonde de la pagina*/
body{background-color:  #33CCCC}
/*estilos del div donde va la info*/
#dis{
	background: white;
    width: 615px;
    height: 377px;
    border: 8px double #000080;
}
/*Estilos del menú*/
#menu {
	font-family: Arial;
	font-size: 0.8em;
}

#menu li {
	float: left;
	list-style-type: none;
}

#menu ul {
	margin: 0;
	padding: 0;
}

#menu a {
	display: inline;
	text-decoration: none;
	color: #F30B39;
	background: #f0edff;
	padding: 3px 10px 3px 10px;
	text-align: center;
	border: 1px solid #0DF8B6;
	border-width: 1px 1px 1px 0;
}

#menu a#primero {
	border: 1px solid #6643ff;
	background-color: black;
}

#menu a:hover {
	background: #d6ccff;
}

/*estilos del pie de página*/
div.nbt{
	margin: 10px 350px 20px 0;
	text-align: center;

}

span.nft{
	display: inline-block;
	font-weight: bold;
	height: 24px;
	padding: 2px 5px;
}

span.nfb{
	display: inline-block;
	font-weight: bold;
	width: 27px;
	height: 53px;
	text-align: center;
	cursor: default;
	padding-top: 4px;
}

/*Color de la linea*/
/* hr{
	border: 5px;
	width: inherit;
	color: black;
	background-color: black;
	height: 5px
  }*/

/*Alineacion de la informacion*/

#line{
	  text-align: right;
	  width: 227px;
	  height: 3px;
     }
#cod{
     height: 1px;
     margin: 17px;
}

/*Alineacion del texto dentro del div*/
.derh{
	text-align: right;
    position: absolute;
    width: 333px;
    margin: -41px;
}

.derha{
	text-align: right;
    position: absolute;
    width: 271px;
    margin: -41px;
}

.dea{
	text-align: right;
    position: absolute;
    width: 332px;
    margin: -41px;
}

.mar{
	margin: 20px;
}

.mat{
	margin: 20px;
}

.mt{
	margin: 20px;
}

/*Posicion de las imagenes de editar y eliminar*/

#edi{
	width: 28px;
    height: 29px;
    padding: 0px;
    position: absolute;
    margin-left: 367px;
}

#eli{
	width: 28px;
    height: 29px;
    position: absolute;
    margin-left: 424px;
}

/*Posicion de la imagen de salida*/
#salir{
margin: -5px;
position: absolute;
padding-left: 11px;
}

/*posicion de la imagen de egregar*/
#agr{
	margin-left: 556px;
    position: absolute;
    padding-left: 5px;
    margin-top: -49px;
}
