
/*color de la letra del usuario*/

.cl {

    color: white;

}

/*Posicion del menu*/

.posi {

    margin-left: 820px;

}

.d {

    width: 517px;

}

/*Imegen del Login*/

body {

    background-image: url("../Imagenes/fondo.jpg");

}

/*Tamaño del select*/

.selectpicker {

    height: 30px;

}
