
/*color de la letra del usuario*/
.cl{
	color: white;
}


/*Posicion del salir*/
.posi{
	margin-left: 786px;
}
.d{
width: 517px;
}

/*Imegen del Login*/
body{ background-image: url("../Imagenes/fondo.jpg");}